.marvel-device.iphone-x {
    width: 304px;
    height: 612px;
}

.marvel-device.iphone-x .notch {
    width: 152px;
    left: 102px;
}

.user-theme {
    min-height: 100%;
    padding: 35px 0px;
}

.user-theme .container {
    max-width: 700px;
}

.user-theme .card-body {
    padding: .5rem !important;
}

.customScroll .ps__rail-x,.customScroll .ps__rail-y {
    display: none
}

.user_profile_container {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.user_profile {
    border-radius: 50%;
    padding: 5px;
    background: #833ab4;
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.user_profile img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
}

.user_profile_container .green_icon {
    background-color: #4cd137;
    position: absolute;
    right: 10px;
    bottom: 15px;
    height: 20px;
    width: 20px;
    border: 5px solid white;
    border-radius: 50%;
}


.user-theme .btn {
    border-radius: 0px !important;
    /*outline: 2px solid #ffffff !important;*/
    border-width: 2px;
}

/*theme-default*/
.default
{
    background: #ffffff;
}
.default .user_instagram
{
    color: #a79d9d;
}

.default .btn-custom
{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.default .btn-custom:hover
{
    color: #3d3b3c;
    background-color: #fff;
}

/*theme-green*/

.green
{
    background: #fff;
}
.green .user_instagram
{
    color: #a79d9d;
}

.green .btn-custom
{
    color: #fff;
    background-color: #39e09b;
    border-color: #39e09b;

}
.green .btn-custom:hover
{
    color: #39e09b;
    background-color: #fff;
    border-color: #39e09b;
}

/*theme-gradient-2*/

.miami
{
    background: linear-gradient(0deg,#fd8f67,#d463a3) !important;
}

.miami .user_instagram
{
    color: #fff;
}

.miami .btn-custom
{
    color: #fff;
    border-color: #fff;

}
.miami .btn-custom:hover
{
    background-color: #fff;
    color: #d463a3;
}

/*theme-gradient-1*/
.dark
{
    background: linear-gradient(0deg,#ffb9c6,#694ff6) !important;
}
.dark .user_instagram
{
    color: #fff;
}
.dark .btn-custom
{
    color: #fff;
    border-color: #fff;
}
.dark .btn-custom:hover
{
    background-color: #fff;
    color: #694ff6;
}







