@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #ecf0f1;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.btn-green {
    background-color: #1d8a8a;
}

.btn-gradient {
    background: rgba(12, 206, 188, 1);
    /* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(12, 206, 188, 1) 0%, rgb(29, 138, 138) 100%);
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(12, 206, 188, 1) 0%, rgb(29, 138, 138) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(12, 206, 188, 1) 0%, rgb(29, 138, 138) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(12, 206, 188, 1) 0%, rgb(29, 138, 138) 100%);
    /* IE 10+ */
    background: linear-gradient(135deg, rgba(12, 206, 188, 1) 0%, rgb(29, 138, 138) 100%);
}

.oh-8:hover {
    opacity: 0.8;
}

.inner {
    transition: all .5s cubic-bezier(.08, .59, .29, .99) .2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
}

.h2 {
    font-size: 2rem;
    margin-top: 45px;
    text-align: center;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header,
#leftPanel .navbar, #previewPanel .navbar {
    background: #1d8a8a;
    padding: 15px;
    height: 60px;
}

#leftPanel .container, #previewPanel .container {
    padding: 30px;
}

.static-content-wrapper {
    padding: 50px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btn-info {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.add {
    margin-top: 100px;
}

.add .btn {
    padding: 15px 35px !important;
    margin-left: 0 !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    border: 2px solid #16a085;
    background-color: #16a085;
    text-align: center;
}

.add .btn:hover {
    background-color: #3b6d8a;
}

.add_button {
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar-nav {
    display: contents;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 21px;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2d3436;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#topnav a.username img {
    height: 40px;
    width: 40px;
    float: right;
    border-radius: 50%;
}

.info-tile {
    margin: 0px 0px 32px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.page-content>.breadcrumb {
    border: 0 !important;
    margin: 0 0 32px 0;
    padding: 12px 16px;
    display: inherit;
    background: #f5f5f5;
    border-radius: 0;
    font-size: 12px;
    line-height: 16px;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

.sidebar-header h3 {
    margin: 0;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    position: relative;
    text-align: center;
}

#sidebarCollapse {
    position: absolute;
    right: -50px;
    top: 12px;
    z-index: 1;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.4em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1d8a8a;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #1d8a8a;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3c8dbc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1d8a8a;
}

a.article,
a.article:hover {
    background: white !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


#leftPanel .navbar ul li {
    margin: 0 5px;
}

#leftPanel .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    position: relative;
}

#leftPanel .navbar a:after {
    -webkit-transition: width .25s cubic-bezier(.08, .59, .29, .99);
    transition: width .25s cubic-bezier(.08, .59, .29, .99);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #cdcdcd;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#leftPanel .navbar ul li.active a:after {
    width: 100%;
    background-color: #fff;
}

#leftPanel .navbar ul li a:hover:after {
    width: 100%;
}

#previewPanel {
    background-color: #d6d6d6;
}

#previewPanel li i {
    color: #fff;
}

#previewPanel li .js-copy {
    background: #2d3436;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: none;
}
#previewPanel li .js-copy:focus{
    outline: none;
}

#copyLink {
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
}

#copyLink a:hover{
    text-decoration: underline;
}

    

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: flex;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}



/* ************ YOUR CONTENT HERE ************ */

#sidebar ul li {
    width: 100%;
    padding: 5px 0px;
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

#sidebar.active ul li {
    line-height: 16px;
}

.link-section {
    position: relative;
    height: 760px;
    overflow: auto;
}

.dragger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    float: left;
    text-align: center;
    background: #2d3436;
    border-radius: 3px;
    border: 1px solid;
    height: auto;
    padding: 10px;
    cursor: move;
    color: #fff;
}

.dragger i {
    color: #ccc;
}

.form-section input {
    border: 0;
}

.form-section {
    width: 100%;
    float: right;
    background: #fff;
    min-height: 80px;
}

.form-section input {
    width: 85%;
}

.form-section input[type='text'] {
    padding-left: 10px;
}

.box-part {
    margin: 10px auto;
}

.box-part .action{
    display: inline-flex;
    justify-content: center;
}
.box-part .action .btn{
    width: 100px;
    margin: 5px 10px
}

#sortable .sortable-ghost {
    opacity: 0.4;
    background-color: #ecf0f1;
}

#sortable .card {
    margin-bottom: 2px;
}

#sortable button.btn
{
    padding: 0px;
    padding-left: 15px;
}

#sortable .btn-link.collapsed
{
    color: #BDBDBD;
    padding-left: 15px;
}

#sortable .btn-link, #sortable .btn-link:hover
{
    color: #4F4F4F;
}

.btn-toggle input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}

.btn-toggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: #ccc;
    display: block;
    border-radius: 25px;
    position: relative;
    margin-bottom: 0;
}

.btn-toggle label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 25px;
    transition: 0.3s;
}

.btn-toggle input:checked + label {
    background: #1d8a8a;
}

.btn-toggle input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.btn-toggle label:active:after {
    width: 20px;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.add-new {
    margin-top: 20px;
}

.link_content a {
    padding: 0px 15px;
}

.link_content a i {
    color: #d2c3c3;
    cursor: pointer;
}

.link_content a:hover i {
    color: #666;
}

.link {
    margin-bottom: 5px;
}

.modal-title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.modal-content {
    width: 500px;
}

.modal-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #3d3b3c;
    color: #fff;
}
