.main {
    padding: 20px 0;
}

.card {
    margin-top: 1em;
}

.person-card {
    margin-top: 5em;
    padding-top: 1em;
}

.person-card .card-title {
    text-align: center;
}

.person-card .person-img {
    width: 10em;
    position: absolute;
    top: -5em;
    left: 50%;
    margin-left: -5em;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}

.invalid-feedback {
    display: block;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
}

.card-title {
    margin-bottom: 1.75rem;
    margin-top: 0.75rem;
}

.form-group-td {
    display: inline-flex;
}

.modal-body a {
    text-decoration: underline;
}

.card-body p {
    font-weight: 200;
    line-height: 1.7em;
    color: darkgray;
    text-align: center;
}

.form-group {
    margin-top: 1em;
}

.text {

    font-size: 28px;
    margin-bottom: 10px;
}

.container h2 {
    text-align: center;
}

.py-2 {
    padding-top: 2.5rem !important;
}

h5 {
    font-size: 15px;
}

.form-control {
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 25px;
}

.col-md-6 {
    max-width: 100%;
}

.vl {
    border-left: 1px solid lightgrey;
    height: 292px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.error {
    color: red;
}

.group {
    margin-bottom: 20px;
}

.group label {
    position: relative;
    color: #6A7C94;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.group label>span {
    width: 115px;
}

.group .field {
    background: white;
    box-sizing: border-box;
    font-weight: 400;
    border: 1px solid #CFD7DF;
    border-radius: 24px;
    color: #32315E;
    outline: none;
    flex: 1;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    cursor: text;
}

.group .field::-webkit-input-placeholder {
    color: #CFD7DF;
}

.group .field::-moz-placeholder {
    color: #CFD7DF;
}

.field:focus,
.group .field.StripeElement--focus {
    border-color: #F99A52;
}

.group button {
    float: left;
    display: block;
    color: white;
    border-radius: 24px;
    border: 0;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    width: 40%;
    height: 48px;
    outline: none;
}

.group .outcome {
    float: right;
    width: 55%;
    margin-top: 30px;
    min-height: 20px;
    text-align: center;
}

.group .success,
.error {
    display: none;
    font-size: 13px;
}

.group .success.visible,
.error.visible {
    display: inline;
}

.group .error {
    color: #E4584C;
}

.group .success {
    color: #F8B563;
}

.group .success .token {
    font-weight: 500;
    font-size: 13px;
}